.video__iframes {
    margin: 50px auto -30px;
    display: flex;
    flex-direction: row; 
    justify-content: center;
    padding: 0 0 0;
    list-style: none;
    opacity: 0.5;
    position: relative;
    z-index: 10;
  }
/* только для красоты */
  .video__iframes:hover{
    opacity: 1;
  }