
.footer__column-link {
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
    color: white;
    text-decoration: none;
    margin: 0;
    transition: opacity 1.0s linear 0s;
  }

  
  .footer__column-link:hover {
    opacity: 0.5;
  } 
  
  