
.feynman__title {
    line-height: 1.15;
    margin: 0 auto 70px;
    font-size: 120px;
    font-weight: bold;
    color: #000;
    text-align: center;
    width: 648px;
    /* padding-bottom: 70px; */
    position: relative;
    z-index: 5;
  }
  