.header {
    height: 100vh;
    min-height: 600px;
    max-height: 756px;
    /* выше установили ограничения для секции */
    position: relative;
    background-color: #f2f2f2;
    display: flex;
    overflow: hidden;
    /*justify-content: center;*/
    /*align-items: center; */ /* выровняли текст по центру средствами flex */
  }