.two-columns__paragraph {
    margin: 0 0 30px 0;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
  }
  
  /* .two-columns__paragraph:first-child {
   margin-bottom: 30px;
  } */
  
  .two-columns__paragraph:last-child {
    margin-bottom: 0;
   }
  