
.kaufman__triangle {
    width: 877px;
    height: 877px;
    background-image: url(../../../images/kaufman-triangle.svg);
    position: absolute;
    right: -210px;
    top: 0;
    z-index: 1;
  }
  