.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  position: relative;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center; /* выровняли текст по центру средствами flex */
}

.header__title {
  margin: 0 0 0;
  width: 530px;
  position: absolute;
  left: 64px;  
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  z-index: 5;
}

.header__subtitle {
  margin: 0 0 0;
  width: 388px;
  position: absolute;
  left: 64px;  
  bottom: 30px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  z-index: 5;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}


.header__main-illustration {
  margin: 0 0 0;
  width: 765px;
  height: 608px;
  position: absolute;
  right: 0px;  
  bottom: 0px; 
  z-index: 10;
}

.header__square-pic {
  height: 568px;
  width: 568px;
  margin: 0 0 0;
  background-color: #2f80ed;
  position: absolute;
  right: 0px;  
  top: 64px; 
}

.logo{

}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  width: 183px;
  height: 32px;
  z-index: 10;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}
